.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding-bottom: 80px;
  max-width: 1536px;
  margin: 0 auto;
  padding-right: 24px;
}

@media (max-width: 768px) {
  .swiper-pagination {
    padding-right: 16px;
    padding-bottom: 10px;
    justify-content: center;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  transition: all 0.3s ease-in-out;
  background: grey;
}
.swiper-pagination .swiper-pagination-bullet-active {
  transition: all 0.3s ease-in-out;
  background: white;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
